*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    padding: 0.5rem;
    cursor: pointer;
}

tbody tr:nth-child(2n) {
    background-color: #dddddd;
}

thead {
    background-color: #333333;
    color: #ddd;
}
td,
th {
    padding: 0.5rem;
}

.product-name,
.user-name {
    cursor: pointer;
}

li {
    margin-left: 15px;
}

img {
    max-width: 500px;
}

span {
    padding: 20px;
}

#example-1 h2 {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#example-1 h2 small {
    display: block;
    text-transform: lowercase;
    text-align: right;
}
